body {
	font-family: Helvetica;
	font-size: 15pt;
	background: #37568D;
  }
  h1 {
	margin-left: 3.5%;
	text-align: center;
	color: #FFFFFF;
  }
  p {
	text-align: center;
	color: #FFFFFF;
  }
  #hobby {
	margin-left: 25%;
	color: #FFFFFF;
  }
  h2{
	margin-left: 25%;
  }
  #mov {
	text-align: center;
	color: #FFFFFF;
  }
  h4 {
	color: salmon;
  }
  .image {
	width:200px;
	height:300px;
  }