
@font-face {
    font-family: "Roboto";
    font-weight: 200;
    src: url('../fonts/Roboto/RobotoLight.ttf');
}
@font-face {
    font-family: "Roboto";
    font-weight: 100;
    src: url("../fonts/Roboto/RobotoThin.ttf");
}
@font-face {
    font-family: "Roboto";
    font-weight: 600;
    src: url("../fonts/Roboto/RobotoBold.ttf");
}
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("../fonts/Roboto/RobotoRegular.ttf");
}
