// --------- COMMON STYLES OVERRIDES -------
*, ul {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  @media (max-width: 600px) {
    font-size: 12px;
    
  }
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 200;
  color: white;
  overflow-x: hidden;
}

section {
  position: relative;
  z-index: 1;
}

li {
  list-style-type: none;

}

p {
  font-size: 1.125rem;
}
h2 {
  margin: 0
}
button {
  cursor: pointer;
}

// ------- BOOTSTRAP CLASSES OVERRIDES --------

.container-fluid {
  width: 95%;
}

.btn {
  font-weight: bold;
  border-radius: 0;

  &-dark {
    background: #000;
  }
}

.card {
  border-radius: 0;
}

.dropdown-menu {
  border-radius: 0;
  & > li:active, & > li:focus {
    border: none;
    outline: none
  }
}

.dropdown-item.active, .dropdown-item:active {
  background-color: rgba(0, 0, 0, 0.83)
}

.accordion-item {
  background-color: white;

  .accordion-collapse {
    color: #000
  }
  .accordion-button {
    padding: 15px 30px;
    &:not(.collapsed) {
      color: #000;
      background-color: #DDD;
    }
    &:focus {
      box-shadow: none;
      border-color: rgba(0,0,0,.125)
    }
  }
}
