#preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999999;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  .progress-wrapper {
    text-align: center;
    width: 300px
  }
  .preloader-image {
    width: 100%;
    img {
      width: 170px
    }
  }
}

#progress-bar {
  height: 5px;
  background-color: white;
  border-radius: 5px;
  ~ p {
    margin-top: 10px;
    font-size: 14px;
  }
}